name: code-check

on:
  push:
    branches:
      - "*"
    tags:
      - "*"
    paths-ignore:
      - "**.md"
  pull_request:
    branches:
      - "*"
    tags:
      - "*"
    paths-ignore:
      - "**.md"

jobs:
  code-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to vrelease-py
        uses: actions/checkout@v3

      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: Install poetry
        run: pip3 install poetry

      - name: Install dependencies
        run: poetry install

      - name: Check code style
        run: poetry run poe check:style

      - name: Check lint
        run: poetry run poe check:lint
