name: run-test

on:
  push:
    branches:
      - "*"
    tags:
      - "*"
    paths-ignore:
      - "**.md"
  pull_request:
    branches:
      - "*"
    tags:
      - "*"
    paths-ignore:
      - "**.md"

jobs:
  run-test:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        py-version: ["3.6", "3.7", "3.8", "3.9", "3.10"]

    steps:
      - name: Checkout to vrelease-py
        uses: actions/checkout@v3

      - name: Configure git
        run: |
          git config --global user.email "hi@caian.org"
          git config --global user.name "Caian Ertl"

      - name: Set up Python ${{ matrix.py-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.py-version }}

      - name: Install pre-release required packages
        run: pip3 install requests poetry

      - name: Install dependencies
        run: poetry install

      - name: Run pre-release steps
        run: poetry run poe prepublish

      - name: Build wheel
        run: poetry build

      - name: Install vrelease
        run: pip3 install dist/vrelease_bin-*.whl

      - name: Run vrelease (version)
        run: vrelease -v

      - name: Run vrelease (help)
        run: vrelease -h
